* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Sans';
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
}

.day-one-header,
.day-one-nav,
.day-one-tagline,
.day-one-footer {
    outline: 0.2rem solid rgb(95, 139, 214);
}

.day-one-header {
    background-color: skyblue;
    text-align: center;
    width: 98%;
    margin: 1.5vh auto;
    padding-bottom: .5vh;
}

.day-one-title {
    font-size: 2.5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 4.5vh 0;
}

.day-one-header a:hover {
    transition: .6s;
    color: white;
}

.day-one-burger {
    display: none;
    cursor: pointer;
    align-self: center;
}

.day-one-burger-bar {
    display: block;
    height: 5px;
    width: 45px;
    background-color: white;
    transition: .5s ease;
}

.day-one-burger-bar:nth-child(2) {
    margin: .5rem 0;
}

.day-one-nav,
.day-one-tagline {
    background-color: rgb(165, 219, 240);
}

.day-one-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    font-weight: bold;
    padding: 3vh 0;
}

.day-one-tagline {
    width: 40%;
    font-weight: 900;
    font-size: 3vh;
    color: rgb(7, 52, 149);
    padding: 1.5vh 0;
    margin: 3vh auto;
}

main {
    width: 98%;
    margin: auto;
}

.day-one-description {
    padding: 3vh 0;
    text-align: center;
    font-size: 4vh;
}

.day-one-first,
.day-one-second {
    padding: 4vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.day-one-second-text {
    text-align: end;
}

.day-one-first-text,
.day-one-second-text {
    width: 40%;

    p {
        font-size: 2.5vh;
    }
}

.day-one-block-img {
    width: 40%;
}

.day-one-block-img img {
    width: 100%;
    max-width: 560px;
}

.delimiter {
    height: 0.2rem;
    background-color: white;
    margin: 4vh 0;
}

.day-one-footer {
    background-color: skyblue;
    margin: 2vh auto;
    text-align: center;
    padding: 3vh 0;
    width: 98%;
}

@media screen and (max-width: 1023px) {

    .day-one-first,
    .day-one-second {
        display: block;
    }

    .day-one-first-text,
    .day-one-second-text {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .day-one-first .day-one-first-text,
    .day-one-second .day-one-block-img {
        padding-bottom: 3vh;
    }

    .day-one-title {
        h1 {
            display: inline-flex;
            flex-flow: row wrap;
            justify-content: space-around;
            width: 100%;
        }

        a {
            width: 70%;
            text-align: left;
        }

        img {
            display: none;
        }
    }

    .day-one-nav {
        flex-flow: column wrap;
        width: 50%;
        position: fixed;
        top: 8px;
        left: -100%;
        transition: .5s;

        a:not(a:last-child) {
            padding-bottom: 5vh;
        }

    }

    .day-one-nav.active {
        left: 0;
    }

    .day-one-block-img {
        margin: auto;
    }

    .day-one-burger {
        display: block;
    }

    .day-one-burger.active .day-one-burger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .day-one-burger.active .day-one-burger-bar:nth-child(2) {
        opacity: 0;
    }

    .day-one-burger.active .day-one-burger-bar:nth-child(3) {
        transform: translateY(-17px) rotate(-45deg);
    }
}